<p id="notice"><%= notice %></p>

<h1>Listing Stacks</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stacks.each do |stack| %>
      <tr>
        <td><%= link_to(stack.game_title, stack.game) if stack.game %></td>
        <% if stack.editable? current_user %>
        <td><%= link_to 'Destroy', stack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
