<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @creator.name %>
</p>

<%= link_to 'Edit |', edit_creator_path(@creator) if current_user.try(:admin?) %>
<%= link_to 'Back', creators_path %>
