<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @creator.name %>
</p>

<% unless @creator.games.empty? %>
<h1>Games</h1>
<%= render partial: 'shared/game', locals: {games: @creator.games} %>
<% end %>
<br>

<%= link_to 'Back', creators_path %>
