<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subgenre.name %>
</p>

<% unless @subgenre.games.empty? %>
<h1>Games</h1>

<%= render partial: 'shared/game', locals: {games: @subgenre.games} %>
<% end %>

<br>

<%= link_to 'Back', subgenres_path %>
