<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subgenre.name %>
</p>

<%= link_to 'Edit |', edit_subgenre_path(@subgenre) if current_user.try(:admin?) %>
<%= link_to 'Back', subgenres_path %>
