<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<% unless @category.games.empty? %>
<h1>Games</h1>

<%= render partial: 'shared/game', locals: {games: @category.games} %>
<% end %>

<br>

<%= link_to 'Back', categories_path %>
